.hoverText {
  text-decoration: unset;
  color: inherit;
  position: relative;
  display: inline-flex;
  overflow-y: hidden;
  height: 1.8rem;
  width: calc(100% + 1rem);

  span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      white-space: nowrap;
    }
  }

  &:hover span,
  &:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
